{% extends "site_base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "User Profile" %}{% endblock %}

{% block pre_script %}
<script src="https://staticfile.qnssl.com/moment.js/2.10.6/moment-with-locales.min.js"></script>
<script src="https://staticfile.qnssl.com/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
{% endblock pre_script %}

{% block css %}
<link rel="stylesheet" href="https://staticfile.qnssl.com/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
{% endblock css %}

{% block content %}

{% if message %}
<div class="alert alert-warning" role="alert">
    <strong>{{ message }}</strong>
</div>
{% endif %}

<div class="block-center">
    <form class="form-profile" enctype="multipart/form-data" method="post" action="{% url 'profile' %}">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|attr:"class:form-control" }} 
                {% for error in field.errors %}
                    <strong class="alert alert-danger">{{ error }}</strong>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="control-group {% if form.non_field_errors %}error{% endif %}">
            {% for error in form.non_field_errors %}
                <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="{% trans "Update" %}" />
            </div>
        </div>
    </form>
</div>
{% endblock %}
