{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% load widget_tweaks %}

{% block content %}

{% for error in form.non_field_errors %}
    <strong class="alert alert-danger">{{ error }}</strong>
{% endfor %}


<div class="block-center">
    <form class="form-profile" method="post" onsubmit="encrypt_password('id_password1');encrypt_password('id_password2')" action="{% url 'register' %}">
        {% csrf_token %}

        {% for field in form %}
            <div class="control-group {% if field.errors %}error{% endif %}">
                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|attr:"class:form-control" }} 
                {% for error in field.errors %}
                    <strong class="alert alert-danger">{{ error }}</strong>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="{% trans "Sign up" %}" />
                <input type="reset" class="btn" value="{% trans "Reset" %}" />
            </div>
        </div>
    </form>
</div>
{% endblock %}
