{% extends "site_base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block pre_script %}
<script src="https://staticfile.qnssl.com/moment.js/2.10.6/moment-with-locales.min.js"></script>
<script src="https://staticfile.qnssl.com/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
{% endblock pre_script %}

{% block css %}
<link rel="stylesheet" href="https://staticfile.qnssl.com/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
{% endblock css %}

{% block content %}
<div class="block-center">
    <form class="form-profile" method="post" onsubmit="encrypt_password('id_password1');encrypt_password('id_password2')" action="{% url 'register' %}">
        {% csrf_token %}

        {% for field in form %}
            <div class="control-group {% if field.errors %}error{% endif %}">
                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="controls">
                    {{ field|attr:"class:form-control" }} 
                    {% for error in field.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <div class="control-group {% if form.non_field_errors %}error{% endif %}">
            {% for error in form.non_field_errors %}
                <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="{% trans "Sign up" %}" />
                <input type="reset" class="btn" value="{% trans "Reset" %}" />
            </div>
        </div>
    </form>
</div>
{% endblock %}


