{% extends "site_base.html" %}

{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% load widget_tweaks %}

{% block content %}

{% for error in form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    <strong>{{ error }}</strong>
</div>
{% endfor %}

{% if message %}
<div class="alert alert-danger" role="alert">
    <strong>{{ message }}</strong>
</div>
{% endif %}

{% if validlink %}
<div class="block-center">
    <form class="form-profile" onsubmit="encrypt_password('id_new_password1');encrypt_password('id_new_password2')" method="post">
        {% csrf_token %}

        <div class="form-group">
        {% for field in form %}
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|attr:"class:form-control" }} 
            {% for error in field.errors %}
                <strong class="alert alert-danger" role="alert">{{ error }}</strong>
            {% endfor %}
        {% endfor %}
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="{% trans "Confirm" %}" />
            </div>
        </div>
    </form>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    <strong>{% trans "This reset link is no longer valid!" %}</strong>
</div>
{% endif %}

{% endblock %}
